#exp_container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#exp_container p{
    color: black;
}

#exp_container .row{
    margin-bottom: 40px;
}

.exp_h2{
    text-align: left;
}

.exp_title{
    font-weight: bold;
}

@media (max-width: 1600px) {
    #exp_container {
        width: 90%;
    }
}